/* kode til slideshow fra w3schools: https://www.w3schools.com/howto/howto_js_slideshow.asp*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --lysebla: #66BDED;
    --morkebla: #0240D0;
    --lyserod: #EB92E5;
    --sort: #000;
    --overskrift: "Bebas Neue", sans-serif;
    --brodtekst: "Public Sans", serif;
}


body {
    margin: 0px;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0px 2px;
  background-color: var(--lysebla);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: var(--lyserod);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2.5s;
}

@keyframes fade {
  from {opacity: .5} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


/*The big three*/
h2 {
    font-family: var(--overskrift);
    color: var(--lyserod);
    font-size: 50px;
    text-align: center;
    margin-bottom: 0px;
}

p {
  font-family: var(--brodtekst);
  font-size: 30px;
  margin: 0px;
}

.kunstnerportret {
  width: 30%;
}

.big3container1 {
  text-align: center;
}

.big3container2 {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.big3container3 {
  width: 50%;
  margin: auto;
}


/*Galleri*/
/*Brug af "How TO - Responsive Image Gallery" fra w3shools https://www.w3schools.com/howto/howto_css_image_gallery.asp*/
#galleriOverksrift {
  color: var(--morkebla);
}

.responsive {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

* {
  box-sizing: border-box;
}

.gallery {
  width: 20%;
  border: 3px solid var(--morkebla);
  background-color: var(--lysebla);
  padding: 5px;
}

.gallery:hover {
  border: 3px solid var(--morkebla);
  background-color: var(--lyserod);
}

.gallery img {
  width: 100%;
  height: auto;
}

.gallery a {
  text-decoration: none;
  color: var(--sort);
}

.desc {
  padding: 15px;
  text-align: center;
  font-size: 16px;
}

@media only screen and (max-width: 700px) {
  .gallery {
    width: 25%;
  }
}

@media only screen and (max-width: 500px) {
  .gallery {
    width: 33.3333333333333%;
  }

  .big3container3 {
    width: 100%;
    margin-bottom: 20px;
  }

  .kunstnerportret {
    width: 200px;
  }
}
